/*
 * Defining all color use for this project
 * Inspired from : Finity Design System
 */

$white: #ffffff;
$black: #000000;

$primary-100: #eddafd;
$primary-200: #d8b6fc;
$primary-300: #be90f7;
$primary-400: #a673ef;
$primary-500: #8247e5;
$primary-600: #6433c4;
$primary-700: #4a23a4;
$primary-800: #331684;
$primary-900: #220d6d;

$success-100: #ebfcd5;
$success-200: #d4f9ac;
$success-300: #b1ee80;
$success-400: #8fde5d;
$success-500: #5fc92e;
$success-600: #44ac21;
$success-700: #2d9017;
$success-800: #1a740e;
$success-900: #0d6008;

$information-100: #d3e5fe;
$information-200: #a7c9fd;
$information-300: #7ba8f9;
$information-400: #598cf4;
$information-500: #2561ed;
$information-600: #1b4acb;
$information-700: #1236aa;
$information-800: #0b2589;
$information-900: #071971;

$warning-100: #fff5ce;
$warning-200: #ffe89e;
$warning-300: #ffd76d;
$warning-400: #ffc749;
$warning-500: #ffad0d;
$warning-600: #db8c09;
$warning-700: #b76f06;
$warning-800: #935404;
$warning-900: #7a4102;

$error-100: #ffe3d6;
$error-200: #ffc0ad;
$error-300: #ff9783;
$error-400: #ff6f65;
$error-500: #ff3236;
$error-600: #db2438;
$error-700: #b71938;
$error-800: #930f35;
$error-900: #7a0933;

$dark-grey-100: #747c90;
$dark-grey-200: #656e85;
$dark-grey-300: #5c657d;
$dark-grey-400: #525c76;
$dark-grey-500: #49536e;
$dark-grey-600: #3a4662;
$dark-grey-700: #2c3857;
$dark-grey-800: #192648;
$dark-grey-900: #0f1d40;

$light-grey-100: #fafafb;
$light-grey-200: #f5f6f7;
$light-grey-300: #eeeff2;
$light-grey-400: #e2e4e8;
$light-grey-500: #cacdd5;
$light-grey-600: #b2b7c2;
$light-grey-700: #a4a9b6;
$light-grey-800: #959cab;
$light-grey-900: #8c93a3;
